/*reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
body, html { 
	font-size: 100%; 
	padding: 0; 
	margin: 0;
	background:#f8f5e0;
}

body{
    font-family: Calibri, Arial, sans-serif;
    color: #47a3da;
	width:1000px;
	margin:0 auto;
	background: url()
}
a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}
/* 
.container {
	position: relative;
	margin-top: 15em;
}
.quotation:before {
		content:"";
		display:block;
		position:absolute;
		top:0;
		left:0;
		width:17px;
		height:14px;
		background: url(../img/quotation-l.png) 0 0 no-repeat;
		line-height:0;
	}
.quotation:after{
		content:"";
		display:block;
		position:absolute;
		bottom:3px;
		right:0;
		width:17px;
		height:14px;
		background: url(../img/quotation-r.png) 0 0 no-repeat;
		line-height:0;
}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

 */